<div class="personal-details mt-xl-5 mt-lg-4 mt-3 px-lg-5 px-md-4 px-sm-5 px-4 mb-5">
    <h2 class="heading text-center">Enter your contact details</h2>
    <p class="description description-outside mt-2 text-center">Include your full name and at least email or phone number.</p>
<!-- top padding 5 -->
<div class="mt-lg-5 mt-4">

    <div class="row g-0">
        <div>
            <p class="description description-inside">Include your full name and at least email or phone number.</p>
            <div class="first-name">
                <label class="d-block mb-1" for="">First Name</label>
                <input type="text" name="firstName" id="" [(ngModel)]="resumePersonalDetails.firstName">
                <!-- <ng-template #firstName>
                    <input type="text" name="firstName2" [(ngModel)]="resumePersonalDetails.firstName" placeholder="firsName2" [(ngModel)]="resumePersonalDetails.firstName">
                </ng-template> -->
                
            </div>

            <div class="city mt-4">
                <label class="d-block mb-1" for="">Last Name</label>
                <input type="text" name="lastName" [(ngModel)]="resumePersonalDetails.lastName">
            </div>

            <div *ngFor="let otherField of resumePersonalDetails.otherFields; let i = index;">
                
                <div *ngIf="otherField.isLink">
                    <input type="text" [(ngModel)]="otherField.link.title">
                    <input type="text" [(ngModel)]="otherField.link.link.linkUrl">
                    <input type="text" [(ngModel)]="otherField.link.link.linkText">
                </div>
                <div *ngIf="!otherField.isLink">
                    <input type="text" [(ngModel)]="otherField.text.title">
                    <input type="text" [(ngModel)]="otherField.text.text">
                </div>
                <!-- <div  *ngIf="otherField.isLink;">
                    <input type="text" name="otherField.link.title" [( ngModel )]="otherField?.link?.title">
                    <input type="text" name="otherField.link.link" [( ngModel )]="otherField?.link?.link">
                </div> -->
                <button class="std-button py-2 px-4 px-sm-5" (click)="removeOtherField(i)">Remove</button>
            </div>

            <button class="std-button py-2 px-4 px-sm-5" (click)="addField()">Add</button>


        </div>
    </div>


    <div class="row g-0">
        <div class="photo-upload col-5">
            <div class="photo mx-sm-auto mr-auto p-1 p-sm-2">
                <img src="../../assets/images/user.png" alt="">
            </div>
            <div class="mt-2 mt-sm-3">
                <button class="std-button d-block upload-photo-button text-nowrap text-center mx-sm-auto mr-auto py-2">Upload photo</button>
            </div>
        </div>
        <div class="col-7">
            <p class="description description-inside">Include your full name and at least email or phone number.</p>
            <div class="row g-0 mt-lg-4">
                <!-- end padding 3 -->
                <div class="first-name">
                    <label class="d-block mb-1" for="">First Name</label>
                    <input type="text">
                </div>
            </div>
            <div class="city mt-4">
                <label class="d-block mb-1" for="">Last Name</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row g-0">
            <div class="col-6 pe-3">
                <label class="d-block mb-1" for="">Country</label>
                <input type="text">
            </div>
            <div  class="col-6">
                <label class="d-block mb-1" for="">City</label>
                <input type="text">
            </div>
        </div>
    </div>
    
    <div class="mt-4">
        <div class="row g-0">
            <div class="col-6 pe-3">
                <label class="d-block mb-1" for="">Phone</label>
                <input type="text">
            </div>
            <div  class="col-6">
                <label class="d-block mb-1" for="">Email</label>
                <input type="text">
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end mt-4">
    <div class="pe-4"><button class="std-button text-nowrap py-2 px-4 px-sm-5">Back</button></div>
    <div><button class="std-button py-2 px-4 px-sm-5">Continue</button></div>
</div>
</div>