/* You can add global styles to this file, and also import other style files */
html {
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 1.6;
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}


body {
    box-sizing: border-box;
}

@font-face {
    font-family: 'LexendDeca';
    src: url("./assets/fonts/LexendDeca-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url("./assets/fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/Inter-VariableFont.ttf");
}
